
<div class="product-box">
  <a [routerLink]="[ '/products', product.id ]"><img [src]="product.images[0].srcMedium()"></a>
  <div class="content">
    <a [routerLink]="[ '/products', product.id ]"><h3>{{product.name}}</h3></a>
    <div [innerHTML]="product.priceHtml" class="price"></div>
  </div>
  <div class="actions">
    <div class="action">
      <span mdTooltip="Add to cart" mdTooltipPosition="before">
        <a href="#"><md-icon>shopping_cart</md-icon></a>
      </span>
    </div>
    <div class="action">
      <span mdTooltip="View product" mdTooltipPosition="before">
        <a [routerLink]="[ '/products', product.id ]"><md-icon>search</md-icon></a>
      </span>
    </div>
  </div>
</div>
