.product-box {
  margin: 20px;
  position: relative;
  background-color: black;
}

.product-box h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.product-box .price {
  font-size: 1.4em;
  color: green;
}

.product-box a {
  text-decoration: none;
}

.product-box .content {
  padding-top: 10px;
  background-color: white;
  text-align: center;
}

.product-box img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.product-box .actions {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50px;
  right: -10px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.product-box:hover img {
  opacity: 0.8;
}

.product-box:hover .actions {
  opacity: 1;
}

.product-box .action {
  background-color: white;
  padding: 5px 5px 0px 5px;
  margin-bottom: 5px;
  border-radius: 2px;
}

.product-box .action a {
  color: #999;
  font-weight: 100;
}

